<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/member.css">
    <!--font-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap" rel="stylesheet">
    <title>Bread2U</title>
</head>
<body>

<div th:replace="fragments/bodyHeader :: bodyHeader"/>

<!--Article content 시작-->
<div class="member-regi-wrap">
    <div class="mr1 col">
        <div class="regi-title">
            회원가입
        </div>
        <div class="regi-detail">
            <span class="warning">* </span>
            필수입력사항
        </div>
    </div>
    <div class="mr2">
        <form role="form" action="/members" class="regi-form col"
              th:object="${member}" method="post">
            <div class="regi-id row">
                <label for="id-txt">아이디 <span class="warning">*</span></label>
                <input type="text" placeholder="아이디를 입력해주세요"
                       class="id-txt" id="id-txt" th:field="*{membername}">
                <button class="id-vali">중복확인</button>
            </div>
            <div class="regi-pwd row">
                <label for="pwd-txt">비밀번호 <span class="warning">*</span></label>
                <input type="password" placeholder="비밀번호를 입력해주세요"
                       class="pwd-txt" id="pwd-txt" th:field="*{password}">
            </div>
            <div class="regi-nickname row">
                <label for="nn-txt">닉네임 <span class="warning">*</span></label>
                <input type="text" placeholder="닉네임을 입력해주세요"
                       class="nn-txt" id="nn-txt" th:field="*{nickname}" >
            </div>
            <div class="regi-email row">
                <label for="email-txt">이메일 <span class="warning">*</span></label>
                <input type="text" placeholder="예: bbang2u@bread.com"
                       class="email-txt" id="email-txt" th:field="*{email}">
                <button class="email-vali">중복확인</button>
            </div>
            <div class="regi-btn row">
                <input type="submit" value="가입하기" id="regi-btn">
            </div>
        </form>
    </div>
</div>
<!--Article content 종료-->

</body>
</html>