<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
  <link rel="stylesheet" href="../css/header.css">
  <link rel="stylesheet" href="../css/postDetail.css">
  <!--font-->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap" rel="stylesheet">
  <script defer src="/js/postDetail.js"></script>
  <title>Bread2U</title>
</head>
<body>
<div th:replace="fragments/bodyHeader :: bodyHeader"/>
<!--Article nav 시작-->
<div class="post-nav-container">
  <div class="post-nav">
    <div class="title">
      <div><a href="/post">빵TALK</a></div>
      <img src="../images/icon-rightarrow.png" class="righrarrow-img">
    </div>
    <div>
      <a href="/post/create" class="btn main-color">글쓰기</a>
    </div>
  </div>
</div>
<!--Article nav 종료-->

<!--게시물 시작-->
<div class="post-wrapper1">
  <div class="post-container">
    <div class="post-title" th:text="${post.title}">
      충대 정문에 굿즈샵 대신 성심당 체인점으로 바꿔주세요
    </div>

    <div class="post-detail">
      <div class="comment pd">
        <img src="../images/icon-view.png" class="view-img">
        <div th:text="${post.view}">8</div>
      </div>
      <div class="day pd" th:text="${#temporals.format(post.createdAt, 'yyyy-MM-dd HH:mm')}">
        2024-01-15 01:32:54
      </div>
      <div class="nickname pd" th:text="${post.member.nickname}">
        노잼충대인
      </div>
    </div>

    <div class="post-content" th:text="${post.content}">
      충대 정문에 굿즈샵 대신 성심당 체인점으로 바꿔주세요 충대 정문에 굿즈샵 대신 성심당 체인점으로 바꿔주세요 충대 정문에 굿즈샵 대신 성심당 체인점으로 바꿔주세요
    </div>

    <div class="btn-pack">
      <div class="like-btn">
        <a th:href="@{/post/{postId}/like (postId=${post.id})}">
          <img src="/images/icon-like.png" class="like-icon">
          <div th:text="${post.likes}" class="like-count">8</div>
        </a>
      </div>
      <div class="bp-pack" th:if="${loginmember.nickname == post.member.nickname}">
        <form th:action="@{/post/{postId}/update}" th:object="${post}" method="post">
          <input type="hidden" th:name="postId" th:value="${post.id}" />
          <button type="submit" class="btn-edit">[수정]</button>
        </form>
        <button id="btn-delete"
           class="btn-delete">[삭제]</button>
      </div>
    </div>
  </div>
</div>


<!--게시물 종료-->
<!--댓글창 정보 시작-->
<div class="post-wrapper2">
  <div class="comment-container1">
    <div class="comment-count">
      <span>댓글</span>
      <span th:text="${post.comment.size()}" class="num"></span>
    </div>
    <div class="comment-input" th:if="${loginmember != null}">
        <img src="../images/profile-img.svg" class="profile-img">
        <form th:action="@{/comment/{postId} (postId=${post.id})}"
              method="post" name="comment">
          <input type="text" name="content" class="ci-text">
          <input type="submit" value="입력" class="ci-btn">
        </form>
    </div>
  </div>
</div>
<!--댓글창 정보 종료-->

<!--댓글창 시작-->
<div class="post-wrapper3">
  <div class="comment-container2" th:each="comment : ${comments}">
    <div class="member-detail">
      <div class="member-img">
        <img src="../images/profile-img.svg" class="profile-img">
      </div>
      <div class="member-nickname" th:text="${comment.member.nickname}">
        김꿈돌이에요
      </div>
    </div>
    <div class="comment-content" th:text="${comment.content}">
      도배 작작하세요 게시판에 전세냄?
    </div>
    <div class="comment-detail">
      <div class="day"
           th:text="${#temporals.format(comment.createdAt, 'yyyy-MM-dd HH:mm')}">
        2024-01-15 01:35:13
      </div>
      <div class="detail-pack">
        <div class="likes">
          <a href="" class="likes-href">
            <img src="../images/icon-heart.png" class="heart-img">
            <div th:text="${comment.likes}">좋아요</div>
          </a>
        </div>
        ·
        <div class="report">
          <a href="">신고</a>
        </div>
        ·
        <div class="reply">
          <a href="">답글달기</a>
        </div>
      </div>
    </div>
  </div>
</div>
<!--댓글창 종료-->


<div id="post-delete-modal" class="pd-modal-wrapper">
  <div class="modal-bg" id="modal-bg" style="display: none" >
  </div>
  <div class="modal-wrap" id="modal-wrap"  style="display: none">
    <div class="mw-message">
      게시물을 삭제하시겠습니까?
    </div>
    <div class="mw-btn-pack">
      <a th:href="@{/post/{postId}/delete (postId=${post.id})}"
         class="mw-yes btn">예</a>
      <button class="mw-no btn" id="mw-no">아니요</button>
    </div>
  </div>
</div>

</body>
</html>