<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div class="footer" th:fragment="bodyHeader">
    <!--Header 시작-->
    <div class="h-row1 h-set">
        <div class="col1">
            <a href="/member">
                회원가입
            </a>
        </div>
        <div class="col2">
            <a href="/member/login">
                로그인
            </a>
        </div>
    </div>
    <div class="h-row2 h-set">
        <div class="col1">
            <img src="/images/main-logo.png" class="main-logo">
        </div>
    </div>
    <div class="h-row3 h-set">
        <div class="hr3s1"><a href="/">HOME</a></div>
        <div class="hr3s1"><a href="/breadList">베스트</a></div>
        <div class="hr3s1">커스텀빵여행</div>
        <div class="hr3s1 "><a href="/post">빵뮤니티</a></div>
        <div class="col1">
            <div class="search">
                <input type="text" class="search-box">
                <img src="/images/icon-search.png" class="search-icon">
            </div>
        </div>
    </div>
    <!--Header 종료-->
</div>