<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div class="header" th:fragment="bodyHeader">
    <!--Header 시작-->
    <div class="h-row1 h-set">
        <div class="col1"th:unless="${loginmember != null}">
            <a href="/members" >
                회원가입
            </a>
        </div>
        <!--모달 창-->
        <div class="logout-modal-wrapper dropdown">
            <div class="logout-modal-wrap">
                <div class="md-lg1">
                    <img src="/images/icon-logout.png" class="icon-logout">
                    <a href="/members/logout" class="md-lg2">로그아웃</a>
                </div>
                <div class="md-lg3">
                    <img src="/images/icon-setting.png" class="icon-setting">
                    <a href="/members/logout" class="md-lg2">설정</a>
                </div>
            </div>
        </div>
        <!--모달창 종료-->
        <div class="col2">
            <button th:if="${loginmember != null}" class="login-member" onclick="popUp()">
                반갑습니다, <span th:text="${loginmember.nickname}"style="color:#ff8f0d;"></span>님!
            </button>
            <a th:unless="${loginmember != null}" href="/members/login">
                로그인
            </a>
        </div>
    </div>
    <div class="h-row2 h-set">
        <div class="col1">
            <img src="/images/main-logo.png" class="main-logo">
        </div>
    </div>
    <div class="h-row3 h-set">
        <div class="hr3s1"><a href="/">HOME</a></div>
        <div class="hr3s1"><a href="/breadList">베스트</a></div>
        <div class="hr3s1">커스텀빵여행</div>
        <div class="hr3s1 "><a href="/post">빵뮤니티</a></div>
        <div class="col1">
            <div class="search">
                <input type="text" class="search-box">
                <img src="/images/icon-search.png" class="search-icon">
            </div>
        </div>
    </div>
    <!--Header 종료-->

</div>