body{
    box-sizing: border-box;
    margin: 0px;
    font-size: 19px;
    font-family: 'Noto Sans KR', sans-serif;
    letter-spacing: -1px;
}
.a-row2{
    width: 1050px;
    margin: 9px auto;
    border: 1px solid #ddd;
    padding: 10px 0;
}
.h-set{
    display: flex;
    width: 1050px;
    margin: 0px auto;
}
.h-row1{
    display: flex;
    font-weight: 500;
    height: 40px;
    justify-content: space-between;
    align-items: center;
}
.h-row1 .col1{
    display: flex;
    align-items: center;
    font-weight: 700;
}
.h-row1 .col2{
    display: flex;
    margin-right: 10px;
}
.h-row1 .col3{
    display: flex;
    margin-left: 10px;
}
.title1{
    color: #83541c;
}
.title2{

}
.user-info{
    display: flex;
    align-items: center;
}
.profile-img{
    width: 27px;
    margin-right: 5px;
    border-radius: 5px;
}
.h-row2{
    display: flex;
    justify-content: center;
}

.a-row1{
    display: flex;
    width: 1050px;
    margin: 0px auto;
}
.a-row1 .col{
    display: flex;
    flex-direction: column;
}

.h-row3{
    display: flex;
    margin-bottom: 50px;
    font-weight: 500;
}
.h-row3 .col1{
    display: flex;
    margin-left: 275px;
}
.col1 .search{
    width: 240px;
    height: 27px;
}
.hr3s1{
    width: 130px;
    justify-content: center;
    height: 40px;
    display: flex;
    align-items: center;
    /*transition: background-color linear 0.2s;*/
}
/*.hr3s1:hover {*/
/*    background-color: #d4d4d424;*/
/*}*/
.h-row3 .search-box{
    width: 245px;
    height: 31px;
    font-size: 19px;
}

.login-member{
    background-color: transparent;
    border: 0px;
    font-size: 18px;
    text-align: right;
    padding: 0px;
    font-weight: 500;
    cursor: pointer;
}
.category-custom{
    background: linear-gradient(to bottom, white 50%, white 50%);
    transition: background linear 0.5s;
}
.category-custom:hover {
    background: linear-gradient(to bottom, white 50%, #ff8f0d30 50%);
}
.logout-img{
    width: 22px;
    height: 20px;
    margin-top: 3px;
    margin-left: 4px;
    cursor: pointer;
}
.bakery-memo{
    /* border: 1px solid #795548; */
    border-radius: 2px;
    margin: 11px 6px;
    height: 58px;
    display: flex
;
    align-items: center;
    padding-left: 12px;
    background-color: #f9f9f9;
}
.bakery-memo .area{
    font-size: 18px;
    font-family: "Noto Sans KR", sans-serif;
    letter-spacing: -1px;
    border: 0px;
    width: 937px;
    height: 30px;
    resize: none;
    font-weight: 600;
    background-color: transparent;
}
#bakery-pen{
    width: 24px;
    margin-bottom: 2px;
    margin-left: 9px;
    cursor: pointer;
}


/*컬러*/
.bg-c1{
    background-color: #C60000;
}
.bg-c1:hover{
    background-color: rgba(198, 0, 0, 0.75);
}
.bg-c2{
    background-color: #7D52F4;
}
.bg-c2:hover{
    background-color: rgba(125, 82, 244, 0.75);
}
.bg-c3{
    background-color: #008E52;
}
.bg-c3:hover{
    background-color: rgba(0, 142, 82, 0.75);
}




/*이미지*/
.main-logo{
    width: 127px;
    padding-top: 35px;
    padding-bottom: 35px;
    margin-bottom: 4px;
}
.search-icon{
    width: 22px;
    padding-bottom: 4px;
    width: 22px;
    position: relative;
    left: 222px;
    top: -29px;
}
.map-img{
    width: 275px;
    height: 338px;
}
.bread-img{
    width: 140px;
    height: 140px;
}
#main-logo{
    width: 30px;
    margin-right: 3px;
}



/*이미지*/
.main-logo{
    width: 127px;
    padding-top: 35px;
    padding-bottom: 35px;
}
.search-icon{
    width: 22px;
    padding-bottom: 4px;
    width: 22px;
    position: relative;
    left: 220px;
    top: -29px;
}

.map-img{
    width: 275px;
    height: 338px;
}
.bread-img{
    width: 140px;
    height: 140px;
}


a {
    color: black;
    text-decoration: none;
}

button{
    font-family: 'Noto Sans KR', sans-serif;
}

/*애니메이션*/
@keyframes DropDownSlide {
    100% {
        transform: translateY(0)
    }
    0% {
        transform: translateY(5px)
    }
}


