.post-nav-container{
    display: flex;
    width: 1050px;
    margin: 0px auto;
    flex-direction: column;
}
.post-nav {
    display: flex;
    width: 800px;
    margin: 0px auto;
    justify-content: space-between;
    margin-bottom: 35px;
}

.post-nav .title{
    display: flex;
}


.article-container{
    display: flex;
    width: 1050px;
    margin: 0px auto;
    flex-direction: column;
}
.a-row2{
    display: flex;
    width: 800px;
    margin: 0px auto;
    margin-bottom: 10px;
}
.ar2{

}
.article-container .title{
    width: 55%;
}
.article-container .likes{
    width: 10%;
    text-align: center;
}
.article-container .nickname{
    width: 17%;
    text-align: center;
}
.article-container .desc{
    width: 18%;
    text-align: center;
}
.a-row3{
    display: flex;
    width: 800px;
    margin: 0px auto;
}


.post-content-container{
    display: flex;
    width: 800px;
    margin: 0px auto;
    justify-content: space-between;
}
.pc-form{
    display: flex;
    flex-direction: column;
}
.pc-form .title{
    margin-bottom:16px
}
.pc-title{
    width: 785px;
    padding: 10px 0;
    font-size: 30px;
    border: 0px;
    border-bottom: 1px solid #ccc;
    padding-left: 10px;
    padding-right: 10px;
}
input::placeholder {color:#ccc;}
.pc-form .post{

}
.pc-post{
    border: 1px solid #ccc;
    width: 785px;
    height: 400px;
    padding: 10px;
}
.pc-form .btn-pack{
    display: flex;
    justify-content: space-between;
}
.pc-file{

}
.pc-submit{

}


/*버튼*/
.btn{
    border: 0px;
    padding: 4px 13px;
    border-radius: 10px;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: -1px;
    cursor: pointer;

}
.btn:hover{
    color: rgba(0, 0, 0, 0.6);
}

/*컬러*/
.main-color{
    background-color: #FFB35A;
    transition: background-color 0.3s;
}
.main-color:hover{
    background-color: rgba(255, 179, 90, 0.75);
}


/*이미지*/
.likes-img{
    width: 25px;
}
.righrarrow-img{
    width: 20px;
    height: 20px;
    margin-top: 5px;
    margin-left: 5px;
}