<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/header.css">
    <link rel="stylesheet" href="css/index.css">
    <!--font-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap" rel="stylesheet">
    <title>Title</title>
</head>
<body>
<!--Header 시작-->
<div class="h-row1 h-set">
    <div class="col1">
        <a th:unless="${loginmember != null}" href="/members" >
            회원가입
        </a>
    </div>
    <div class="col2">
        <a th:if="${loginmember != null}" href="">
            반갑습니다, <span th:text="${loginmember.nickname}"style="color:#ff8f0d;"></span>님!
        </a>
        <a th:unless="${loginmember != null}" href="/members/login">
            로그인
        </a>
        <a th:if="${loginmember != null}" href="/members/logout">
             [로그아웃]
        </a>
    </div>
</div>
<div class="h-row2 h-set">
    <div class="col1">
        <img src="images/main-logo.png" class="main-logo">
    </div>
</div>
<div class="h-row3 h-set">
    <div class="hr3s1"><a href="/">HOME</a></div>
    <div class="hr3s1"><a href="/breadList">베스트</a></div>
    <div class="hr3s1">커스텀빵여행</div>
    <div class="hr3s1 "><a href="/post">빵뮤니티</a></div>
    <div class="col1">
        <div class="search">
            <input type="text" class="search-box">
            <img src="images/icon-search.png" class="search-icon">
        </div>
    </div>
</div>
<!--Header 종료-->

<!--Article 시작-->

<div class="a-row1">
    <div class="col1">
        <img src="images/dageon-map.png" class="map-img">
    </div>
    <div class="col2">
        <div class="row1">
            <div style="width: 30%">
                <img src="images/img-bread1.png" class="bread-img">
            </div>
            <div>
                <div class="bread-title">
                    성심당
                </div>
                <div>
                    #튀김소보루 #보문산메아리 #대전1위
                </div>
                <div>
                    대한민국 대전광역시 중구 대종로480번길 15
                </div>

            </div>
        </div>
        <div class="row2">
            <div class="col-4" style="width: 30%">
                <img src="images/img-bread2.jpg" class="bread-img">
            </div>
            <div class="col-8">
                <div class="bread-title">
                    하루팡
                </div>
                <div>
                    #메론팡 #소금팡 #야끼소바팡
                </div>
                <div>
                    대전광역시 유성구 봉명동 611-1 호 그랑펠리체
                </div>
                <div class="row">
                    <input type="button" class="tag-btn bg-c3" value="메론빵덕후pick">
                </div>
            </div>
        </div>
        <div class="row3">
            <div class="col-4" style="width: 30%">
                <img src="images/img-bread3.png" class="bread-img">
            </div>
            <div class="col-8">
                <div class="bread-title">
                    땡큐베리머치
                </div>
                <div>
                    #딸기케이크 #프리미엄케이크 #디저트
                </div>
                <div>
                    대흥동 250-2번지 하동 1층 중구 대전광역시 KR
                </div>
                <div class="row">
                        <input type="button" class="tag-btn bg-c1" value="딸기덕후pick">
                        <input type="button" class="tag-btn bg-c2" value="1월BEST3위">
                </div>
            </div>
        </div>
    </div>
    <div class="col-2"></div>
</div>


<!--Article 종료-->



</body>
</html>